/* Header Section */
.header {
    background: #56CCF2;
    padding: 200px 0px;
}

.header_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 30px;
}

.header h1 {
    font-size: 100px;
    margin-bottom: 1px;
    color: white;
}

.header p {
    font-size: 40px;
    color: white;
}

/* Calculator Section */
.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 0px 30px 30px 30px;
}