.Landing {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-bottom: 30px;
  text-align: center;
  position: sticky;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin-bottom: -35px;
}

.App-bar {
  height: 40vmin;
  position: absolute;
  text-align: center;
  top: 136px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-bar {
    animation : App-bar-spin infinite 1.5s linear alternate;
    transform-origin: 140px ;
    transform-box: view-box;

  }
}

.App-header {
  background-color: #56CCF2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(16px + 2vmin);
  font-family: 'Times New Roman', Times, serif;
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-bar-spin {
  from {
    transform: rotateZ(-8deg);
  }
  to {
    transform: rotateZ(8deg);
  }
}

.App-header h1 {
  font-size: 100px;
}

.landing_button {
  color: white;
  padding: 14px 24px;
  border: none;
  outline: none;
  border-radius: 50px;
  background: #F27C54;
  font-size: 16px;
  position: relative;
  top: 50px;
}

.landing_button:hover {
  transform: scale(1.075);
}