/* Navbar Section */
.navbar {
    background: #56CCF2;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    position: sticky;
    top: 0;
    z-index: 0;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
    max-width: 1500px;
    padding: 0 50px;
}

.navbar_logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    max-width: 10%;
}

.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar_item {
    height: 80px;
}

.navbar_links {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
}

/* Background color berubah ketika hover */
.navbar_links:hover {
    background-color: white;
    color: #F27C54;   
}
